{% extends "base.html" %}

{% block body %}
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <form method="POST" class="d-flex" role="search">
            {% csrf_token %}
            <input class="form-control me-2" id="search" name="search" type="search" placeholder="search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
    </nav>


    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown button
        </button>
        <ul class="dropdown-menu">
            {% for category in chategories %}
            <li><a class="dropdown-item" href="{% url 'category_template' category_id=category.pk %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    



    <div class="container">
        <div class="row">
            {% for item in items %}
                <div class="col-md-4 video-item">
                    <h4>{{ item.title }}</h4>
                    <a href="/details/{{ item.id }}"><img src="{{ item.image.url }}" alt="Video"></a>
                </div>
            {% endfor %}
        </div>
    </div>

    {% endblock body %}